{% extends "layout.html" %}

{% block title %}
    About me
{% endblock %}

{% block main %}
    <section class="home-content">
        <div class="row portfolio-row justify-content-center">
            <div class="col-md-offset-5">
                <div class="text-center">
                </div>
            </div>
        </div>
		<div class="timeline">
			<div class="container-timeline left">
				<div class="content">
					<h2>2015</h2>
						<p>Started undergraduate studies at Texas Tech University</p>
				</div>
			</div>

			<div class="container-timeline right">
				<div class="content">
					<h2>2019</h2>
						<ul>
							<li>
								Graduated with Bachelors in Computer Science and Minor in Mathematics.
							</li>

							<li>
								Started graduate school at Texes Tech.
							</li>
						</ul>
				</div>
			</div>

			<div class="container-timeline left">
				<div class="content">
					<h2>2021</h2>
						<ul>
							<li>
								Completed thesis defense. Thesis title: Visualization of Reasoning: Debugging Techniques in ASP.
							</li>
							<li>
								Graduated with Masters in Computer Science.
							</li>
						</ul>
				</div>
			</div>
		</div>
    </section>
<!--<main class="container p-0">
		<section class="title-color" id="about-title">
			<div class="title-container">
				<div class="row title-text">
					<div class="col-12 col-sm-9 col-md-7 col-lg-6 additional-margin">
						<div class="title-description">
							<p>ipsum upssm ipsm upsmg ipsmg</p>
						</div>
					</div>
				</div>

				<div class="row title-text">
					<div class="col-auto additional-margin">
						<p>ABOUT ME</p>
					</div>
				</div>
			</div>
		</section>
	</main>-->

{% endblock %}