{% extends "layout.html" %}

{% block title %}
    About me
{% endblock %}

{% block main %}
    <section class="home-content">
        <div class="row portfolio-row justify-content-center">
            <div class="col-md-offset-5">
                <div class="text-center">

                </div>
            </div>
        </div>
    </section>
<!--	<main class="container p-0">
		<section class="title-color" id="about-title">
			<div class="title-container">
				<div class="row title-text">
					<div class="col-12 col-sm-9 col-md-7 col-lg-6 additional-margin">
						<div class="title-description">
							<p>ipsum upssm ipsm upsmg ipsmg</p>
						</div>
					</div>
				</div>

				<div class="row title-text">
					<div class="col-auto additional-margin">
						<p>ABOUT ME</p>
					</div>
				</div>
			</div>
		</section>
	</main>-->

{% endblock %}