{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <section class="home-content">
        <div class="container">
            <div class="row portfolio-row justify-content-center">
                <div class="col-12 col-md-6">
                    <div class="portfolio-text text-center">
                        <a class="title-link" target="_blank" href="/static/Thesis.pdf"><h5>Master's Thesis</h5></a>
                        <p class="project-des">
                            My Master's Thesis examining the creation of a 'Visualization of Reasoning' as a new debugging technique in Answer Set Programming (ASP).
                        </p>

                        <p class="skills">
                            <span class="bold">Skills:</span> Research, ASP, Data Visualization, Debugging Techniques, Writing.
                        </p>
                    </div>

                    <div class="row">
                        <div class="image">
                            <a target="_blank" href="/static/Thesis.pdf">
                                <img class="portfolio-img" src="/static/Hnet.com-image.jpg">
                            </a>

                        </div>

                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="portfolio-text text-center">
                        <a class="title-link" target="_blank" href="https://github.com/just331/personal-website"><h5>Personal Website</h5></a>
                        <p class="project-des">
                            My personal website to showcase my recent projects.
                        </p>

                        <p class="skills">
                            <span class="bold">Skills:</span> HTML/CSS, Python, Heroku, Bootstrap, Flask.
                        </p>
                    </div>

                    <div class="row">
                        <div class="image">
                            <a target="_blank" href="https://github.com/just331/personal-website">
                                <img class="portfolio-img" src="/static/website.png">
                            </a>

                        </div>

                    </div>
                </div>


                <div class="col-12 col-md-6">
                    <div class="portfolio-text text-center">
                        <a class="title-link" target="_blank" href="https://github.com/just331/CheckersPro"><h5>CheckersPro</h5></a>
                        <p class="project-des">
                            CS5392 Reinforcement Learning: Semester Project.
                        </p>

                        <p class="skills">
                            <span class="bold">Skills:</span> Reinforcement Learning, Python, Github, Collaboration.
                        </p>
                    </div>

                    <div class="row">
                        <div class="image">
                            <a target="_blank" href="https://github.com/just331/CheckersPro">
                                <img class="portfolio-img" src="/static/checkersPro.png">
                            </a>

                        </div>

                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="portfolio-text text-center">
                        <a class="title-link" target="_blank" href="https://github.com/just331/CheckersPro"><h5>CheckersPro</h5></a>
                        <p class="project-des">
                            CS5392 Reinforcement Learning: Semester Project.
                        </p>

                        <p class="skills">
                            <span class="bold">Skills:</span> Reinforcement Learning, Python, Github, Collaboration.
                        </p>
                    </div>

                    <div class="row">
                        <div class="image">
                            <a target="_blank" href="https://github.com/just331/CheckersPro">
                                <img class="portfolio-img" src="/static/checkersPro.png">
                            </a>

                        </div>

                    </div>
                </div>


            </div>
        </div>
    </section>

{% endblock %}